
.block-8 {
  margin-top: calc(var(--angle-param) * -1);
  padding: ~'calc(var(--angle-param) + 40px)' 0 ~'calc(var(--angle-param) + 70px)';
  clip-path: polygon(0 var(--angle-param), 100% 0, 100% 100%, 0% var(--angle-coord));
  background: #ffffff url("../images/block-8/block-8-bg.png") right bottom no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    width: 622px;
    height: 700px;
    margin-left: 20px;
  }
}
