
.block-4 {
  margin-top: calc(var(--angle-param) * -1);
  clip-path: polygon(0 var(--angle-param), 100% 0, 100% 100%, 0% var(--angle-coord));
  background: #f5f5f5 url("../images/block-4/block4_bg.png") center center no-repeat;
  background-size: 100% auto;
  padding: ~'calc(var(--angle-param) + 40px)' 0 ~'calc(var(--angle-param) + 70px)';

  &__container {
    height: 700px;
  }

}
