
.block-3 {
  margin-top: calc(var(--angle-param) * -1);
  clip-path: polygon(0 var(--angle-param), 100% 0, 100% var(--angle-coord), 0% 100%);
  background: #ffffff url("../images/block3_bg.png") center right no-repeat;
  padding: ~'calc(var(--angle-param) + 40px)' 0 ~'calc(var(--angle-param) + 70px)';

  &__container {
    height: 700px;
  }

}
