
.block-9 {
  margin-top: calc(var(--angle-param) * -1);
  padding: ~'calc(var(--angle-param) + 40px)' 0 ~'calc(var(--angle-param) + 70px)';
  clip-path: polygon(0 0, 100% var(--angle-param), 100% 100%, 0% 100%);
  background: #181c20 url("../images/block-9/block-9-bg.png") left bottom no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    width: 622px;
    height: 700px;
    margin-left: 20px;
  }
}
