.block-8 {
  margin-top: calc(var(--angle-param) * -1);
  padding: ~'calc(var(--angle-param) + 40px)' 0 ~'calc(var(--angle-param) + 70px)';
  clip-path: polygon(0 var(--angle-param), 100% 0, 100% 100%, 0% var(--angle-coord));
  background: #ffffff right bottom no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    width: 1180px;
    height: 700px;
    margin-left: 20px;
    display: flex;
    padding-top: 130px;
  }
}

.b8-desc {
  &__title {
    margin-bottom: 60px;
  }
  &__mark {
    display: flex;
    align-items: center;
  }
  &__like {
    width: 76px;
    height: 79px;
    margin-right: 30px;
  }
  &__text {
    font-size: 22px;
    font-weight: bold;
  }
}

.b8-slider {
  background: url("../images/block-8/hand.png") no-repeat;
  width: 300px;
  height: 800px;
  flex: 1;
}

.b8-prlx {
  &-1 {
    bottom: 30px;
    right: 30%;
  }
  &-2 {
    bottom: 250px;
    left: 10%;
  }
  &-3 {
    top: -120px;
    left: 43%;
  }
  &-4 {
    bottom: 400px;
    right: 0;
  }
  &-5 {
    top: -150px;
    right: 26%;
  }
  &-6 {
    top: 200px;
    left: 0;
  }
  &-7 {
    background: url("../images/parallax/app-7.png");
    top: -40px;
    right: 3%;
  }
}
