@import "./variables";


.block-1 {
  --side-padding: 78px;
  clip-path: polygon(0 0, 100% 0, 100% var(--angle-coord), 0% 100%);
  background: top center;
  background-size: cover;
  background-color: #0890ce;
  //min-height: 1800px;
  padding-bottom: ~'calc(var(--angle-param) + 70px)';

  &__container {
    overflow: hidden;
    width: 100%;

    @media (min-width: @media-normal) {
      width: 1326px;
    }
  }

  &__header {
    margin-top: 22px;
    width: 100%;
    padding: 0 18px;

    @media (min-width: @media-medium) {
      margin-top: 55px;
      padding: 0 var(--side-padding);
    }
  }

  &__content {
    margin-top: 120px;

    @media (min-width: @media-medium) {
      padding: 0 var(--side-padding);
      margin-top: 225px;
      margin-bottom: 240px;
    }
  }

  &__goals {
    display: none;

    @media (max-width: @media-small) {
      display: block;
      color: #fff;
      text-align: center;
      font-size: 36px;
      font-weight: 600;
      padding-top: 20px;
      text-transform: uppercase;
      margin-bottom: -40px;
    }
  }

  &__slider {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  &__path {
    position: absolute;
    bottom: 70px;
    left: 50%;
    @media (min-width: @media-medium) {
      bottom: ~'calc(var(--angle-param) / 2)';
    }
  }

  &__figure {
    position: absolute;
    bottom: 150px;
    left: -40px;
    z-index: 3;
    width: 82px;

    @media (min-width: @media-medium) {
      bottom:  var(--angle-param);
      left: 43px;
      width: auto;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;

  &__logo {
    flex: .3;
  }
  &__menu {
    flex: 1;
  }
}

.menu {
  display: none;

  @media (min-width: @media-normal) {
    display: flex;
  }

  &__item {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
  }
}

.auth {
  color: #fff;
  text-decoration: none;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: -4px;
    border-top: solid 1px;
    border-color: #fff;
  }
}

.b1-content {

  &__logo {
    margin-bottom: 55px;
    max-width: 100%;
  }
  &__container {
    margin: 0 auto 110px;
    width: 214px;

    @media (min-width: @media-medium) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 150px;
    }
  }

  &__left {
    flex-basis: 62%;
    margin: 10px 0 0 0;
  }

  &__text {
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    text-align: center;

    @media (min-width: @media-medium) {
      font-size: 35px;
      line-height: 50px;
      text-align: left;
    }
  }

  &__video {
    margin-right: 86px;
  }

  &__app-links {
    display: flex;
  }
}

.video {
  align-items: center;
  color: #fff;
  display: none;

  @media (min-width: @media-medium) {
    display: flex;
  }


  &__button {
    margin-right: 27px;
  }
  &__title {
    font-size: 22px;
    font-weight: 500;
  }
}

.app-links {
  display: flex;
  align-items: center;
  background: #252d34;
  border-radius: 3px;
  padding: 20px 28px;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: @media-medium) {
    justify-content: flex-start;
    display: inline-flex;
    flex-wrap: nowrap;
  }

  &__title {
    color: #fff;
    font-weight: 500;
    flex: 0 0 100%;
    margin-bottom: 28px;
    text-align: center;

    @media (min-width: @media-medium) {
      margin: 0 40px 0 0;
      text-align: left;
      flex: 0 0 auto;
    }
  }
  &__button {
    line-height: 0;
  }
  &__button + &__button {
    margin-left: 30px;
  }
}

.b1-slider {
  width: 85%;
  margin: auto;
  height: 300px;
  padding: 50px 0 100px;

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 980px;
    flex: 1;
    margin: 0 5%;
  }
  &__slide {
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;

    @media (min-width: @media-medium) {
      font-size: 26px;
      line-height: 40px;
    }
  }
}

