@import "./variables";


.block-9 {
  margin-top: calc(var(--angle-param) * -1);
  padding: ~'calc(var(--angle-param) + 40px)' 0 0;
  clip-path: polygon(0 0, 100% var(--angle-param), 100% 100%, 0% 100%);
  background: #181c20 url("../images/block-9/block-9-bg.png") left bottom no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {

    @media (min-width: @media-normal) {
      width: 1165px;
    }
  }

  &__footer {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding: 35px 0;
  }
}

.block-9-copyright {
  color: #ffffff;
  opacity: 0.7;
  font-size: 16px;
  line-height: 35px;
  font-weight: 200;
  text-align: center;

  @media (min-width: @media-medium) {
    text-align: left;
  }

  simbol {
    margin: 0 7px;
  }
}
