body, html {
  min-height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

.wrapper {
  position: relative;
}

.block {
  --angle-param: 300px;
  --angle-coord: ~'calc(100% - var(--angle-param))';


  display: flex;
  justify-content: center;
  position: relative;
}

.container {
  width: 1170px;
  position: relative;
  max-width: 100%;
}


.figure {
  filter: drop-shadow(0px 34px 29px rgba(0, 0, 0, .4));
}

.img-shadow {
  filter: drop-shadow(0px 35px 22px rgba(0, 0, 0, .1));
}
