body, html {
  min-height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.block {
  display: flex;
  justify-content: center;
}

.container {
  width: 1170px;
  position: relative;
}
